<script src="https://kit.fontawesome.com/xxxxxxxxxx.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="content">
    <div class="title">
            THÔNG TIN ĐỢT PHÁT HÀNH
    </div>
        <div class="info">
            <form class="my-form">
               
                <label for="name">Tên đợt phát hành phiếu mua hàng</label>
                <input type="text" id="name" name="name" value="Phát hành phiếu quà tặng tháng 11/2021" >
                <div class="textx"> 
                  <span class="act">Tình Trạng</span>
                  <br><br>
                  <span class="appr">Đã phê duyệt áp dụng</span>
              </div>
                <label for="type1">Phân loại đợt phát hành</label>
                
                <select  id="classify-select" class="design" >
                  <option value="Phiếu bán">Phiếu bán</option>
                  <option value="">Phiếu tặng</option>
                </select>
                
                <label for="type2">Đơn vị tiếp nhận</label>
                <select  id="location-select" class="design2" >
                  <option value="">CH Hachi Hachi CMT8</option>
                  <option value="">CH Hachi Hachi QT</option>
                  <option value="">CH Hachi Hachi NVT</option>
                                    
                </select>

                <label for="texta">Diễn giải</label>
                <textarea name="texta" id="texta" cols="30" rows="4">KMGBL22-Voucher lịch 100k HĐ 600k-NGÀY KÍNH LÃO-HSD 30/9/22</textarea>
                
              </form>

    </div>
</div>

<div class="content-2">
    <div class="title">
        THÔNG TIN PHIẾU MUA HÀNG
    </div>
    <div class="info">
      <form action=""  ngModelOptions="{standalone: true}">
        <div class="row">
          <div class="col-full">
              <label for="">Số seri</label>
              <input type="text" value="400" [(ngModel)]="inputValue"   (input)="onInputChange($event)">
              <label for="">Mệnh giá</label>
              <input type="text" value="100,000" [(ngModel)]="inputValue" appMoneyFormat>
              
          </div>
          <div class="col-half">
            <label for="">Thời gian hiệu lực</label>
            <input type="text"  style="width: 108px;">
          </div>
          <div class="col-half" style="padding-left: 12px;">
            <div class="group">
            <input type="checkbox" class="custom-checkbox" [(ngModel)]="isDisabled" (change)="toggleDisabled()"   style="outline: none;">

            <label for="" style="margin-left: 10px;">theo ngày</label>
            </div>
            <div class="date-picker">
              <input id="calendar" type="text" placeholder="dd-MM-yyyy" [(ngModel)]="selectedDate" (input)="updateDateValue($event)" [readonly]="isDisabled"  style="text-align: right;">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-half">
            <label for="">Mã bắt đầu P MH</label>
            <input type="text" value="KMGBL22">
          </div>
          <div class="col-half" style="padding-left: 12px;">
            <label for="">SL phát hành</label>
            <input type="text" value="1"  style="width: 85px; text-align: right;"  [(ngModel)]="inputValue"  (input)="onInputChange($event)">
          </div>
          <div class="col-full">
            <label for="">Giá bán</label>
            <input type="text" value="85,000" [(ngModel)]="inputValue" appMoneyFormat>
            <label for="">Số lượt dùng tối đa/ 1 giao dịch</label>
            <input type="text" value="1"  [(ngModel)]="inputValue"  (input)="onInputChange($event)" >
          </div>
        </div>
            <div class="row" style="font-weight: 400; width: 300px;">
              <input type="checkbox" style="outline: none;float: left; border: 1px solid #1A6634; ">
              <label for="" style="size: 13px;color: #1A6634; padding-left: 20px; margin-top: -3px;" >Duyệt bán phiếu mua hàng
                <br>
                <span style="font-size: 11px;color: #1A6634;"><i>(ngày phê duyệt = ngày hiệu lực)</i></span>
              </label>
            </div>
          
      </form>
    </div>
</div>
