.content {
	margin-left: 230px;
	min-height: 45vh;
	.title {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		margin: 15px 0;
	}
	.info {
		padding: 15px;
		background-color: #FFFFFF;
		border-radius: 2px;
		justify-content: space-between;
		width: 1280px;
		.my-form {
			#name {
				width: 860px;
			}
			#type {
				width: 151px;
			}
			#type2 {
				width: 196px;
			}
			#texta {
				width: 1250px;
				text-align: left;
				resize: none;
			}
			.type2{
				margin-top: 10px;
			}
			kendo-dropdownlist{
				background: #FFFFFF;
				font-size:13px;
				font-weight: 400;
				
			}
			.k-release{
				border: 1px solid #ccc;
				height: 33px;
				width: 151px;
			}.k-release:focus{
				border: 2px solid #36C8CF;
				box-shadow: none;
				outline: none;
			}
			
			.k-recei{
				height: 33px;
				width: 196px;
			}.k-recei:focus{
				border: 2px solid #36C8CF;
				box-shadow: none;
				outline: none;
			}
			
			.texta{
				margin-top: 10px;
			}
			.textx {
				font-size: 13px;
				font-weight: 700;
				line-height: 16.32px;
				float: right;
				padding: 0 230px;
				margin-top: -70px;
				color: #959DB3;
				.appr {
					color: #1A6634;
				}
			}
			input,textarea {
				display: block;
				padding: 7px;
				margin-bottom: 10px;
				border: 1px solid #ccc;
				border-radius: 5px;
			}
			:focus{
					outline: 1px solid #DBDEE7;
			}
			.design {
				width: 151px;
				color: #000;
			}
			.design2 {
				width: 196px;
				color: #000;
			}
			label {
				display: block;
				margin-bottom: 10px;
				font-weight: 700;
				font-size: 13px;
				line-height: 16px;
				color: #959DB3;
			}
		}
		
	}
}

.content-2 {
	margin-left: 230px;
	min-height: 50vh;
	.title {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		margin-top: 20px;
	}
	.info {
		margin-top: 10px;
		background-color: #FFFFFF;
		height: 240px;
		border-radius: 2px;
		display: flex;
		width: 1280px;
		input,textarea {
		display: block;
		padding: 7px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		}
		:focus{
			outline: 1px solid #DBDEE7;
		}
		label {
			display: block;
			margin-bottom: 10px;
			font-weight: 700;
			font-size: 13px;
			line-height: 16px;
			color: #959DB3;
		}
		form {
			display: flex;
			.row{
				padding: 25px 15px;
				.col-full {
					input {
						width: 100%;
					}
				}
				.col-half {
					float: left;
					.group {
						display: inline-flex;
						padding-left: 60px;
						.custom-checkbox {
							border: 1px solid #959DB3;
						}
					}
					.date-picker {
						position: relative;
						left: 10px;
						.k-datepicker{
							display: flex;
  							flex-direction: row-reverse;
							border: none;
							background-color: #F5F6F8;
							width: 140px;
							height: 32px;
							font-size: 13px;
							font-weight: 400;
							line-height: 16.32px;
							color: #26282E;
						}
					}
				}
			}
		}
	}
}


