<div class="container">
    <div class="header">
        <div class="nav">
            <div class="menu-right">
                <ul>
                        <li><a href="#">CẤU HÌNH</a></li>
                        <li><a href="#">MUA HÀNG</a></li>
                        <li><a href="#">KHO HÀNG</a></li>
                        <li><a href="#">ĐIỀU PHỐI</a></li>
                        <li><a href="#">MARKETING</a></li>
                        <li><a href="#">E-COMMERCE</a></li>
                        <li><a href="#" class="active">KINH DOANH</a></li>
                        <li><a href="#">NHÂN SỰ</a></li>
                        <li><a href="#">BÁO CÁO</a></li>
                </ul>
            </div>
            <div class="user">
                <a class="nav-link">
                    <i class="fa fa-search"></i>    
                </a>
                <a class="nav-link">
                    <i class="fa fa-bell"></i>
                    <span class="badge">15</span>
                </a>
                <div class="img-case">
                    <img src="https://s3-alpha-sig.figma.com/img/0933/7230/75043f2849491ee32333d7a80dc3b2de?Expires=1678665600&Signature=eCFIy2C7D2rn4vcueODu8aCq~~YFqC0yPFKqLH6y9kdInH~Nzf4d76~XbQ5Y1TtkPYkEx1AYGxEgyPylt429Qoy12eld~B47CgZ5sjW7ExxsaaSEUfoF~ysok-sdXRNCWm3UrHKvnH-aIsgqdM4MKG-tMSR5pMDomUiqIjWs-mOhKy5xulIVzs4fqsisOCccB-Zyg6WAZNsuOMxS5fSDzoS3D0PpJVcX93NUr6c9RkXIcAG23SoNHspJuvBKyKehSj84oLJroFMXTsCPncptsl02Xzo8~sW2CbODOMOsibVVbHQvroc49NsfSLyiOD4AuerAu1fX2An0Y0qIRZfQ2w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" id="imgProfile">
                    <span class="circle"></span>
                </div>    
            </div>
        </div>
    </div>