<kendo-drawer-container>
    <kendo-drawer
      #drawer
      [mode]="'overlay'"
      [position]="'end'"
      [expanded]="false"
    >
    <ng-template kendoDrawerHeaderTemplate>
        <div class="menu">
          <button class="btn-menu" kendoButton (click)="drawer.toggle()" icon="menu">
          </button>
          <span *ngIf="expanded" class="title-menu">Home</span>
        </div>
      </ng-template>
    </kendo-drawer>
    <kendo-drawer-content>
        
    </kendo-drawer-content>
  </kendo-drawer-container>
