<div class="worklocation-header">
    <div class="item-header">
        <div class="left">
            <span><img src="assets/images/filter.svg" alt="filter" width="15">LỌC DỮ LIỆU</span>
             <button kendoButton class="btn-del">Xóa bộ lọc</button>
        </div>
        <div class="middle">
            <span>Tìm kiếm</span> 
            <div class="search">
                <kendo-textbox  
                [style.width.px]="372"
                [style.height.px]="32"
                placeholder="Tìm theo mã, họ và tên nhân viên, chức danh"
                [clearButton]="true"
                >
                <ng-template kendoTextBoxPrefixTemplate>
                    <img class="img-search" src="assets/images/search.svg"  alt="filter" width="15">
                </ng-template>

            </kendo-textbox>
                <button kendoButton imageUrl="assets/images/search-w.svg" class="btn-search">Tìm</button>
            </div>
        </div>
        <div class="right">
            <div class="btn-addLocation">
                <button kendoButton imageUrl="assets/images/add.svg" class="btn-addwork1" (click)="drawer.toggle()">THÊM ĐIỂM LÀM VIỆC</button>
                <button kendoButton imageUrl="assets/images/add.svg" class="btn-addwork2" (click)="drawer.toggle()" >THÊM ĐIỂM LÀM VIỆC CON</button>
            </div>
        </div>
    </div>
</div>

<!-- treelist  -->

<kendo-treelist
    [kendoTreeListFlatBinding]="listLocationTree"
    kendoTreeListExpandable
    scrollable="none"
    idField="LocationID"
    parentIdField="ParentID"
>
    <kendo-treelist-column
        [expandable]="true" 
    >
   
    <ng-template kendoTreeListCellTemplate let-dataItem>
        <img src="assets/images/Location.svg" alt="location"> {{dataItem.name}}
    </ng-template>
    <ng-template kendoTreeListColumnMenuItemContentTemplate let-dataItem>
        {{dataItem.title}}
    </ng-template>
    </kendo-treelist-column>
    <kendo-treelist-column
        field="title"
        [expandable]="true" 
    >
    </kendo-treelist-column>
    <kendo-treelist-column class="btn">

        <ng-template kendoTreeListCellTemplate let-dataItem let-rowIndex="rowIndex">
            <button #anchorButton kendoButton (click)="onToggle(rowIndex)" [ngClass]="{'active': dataItem.showPopup}">...</button>
            <kendo-popup *ngIf="dataItem.showPopup"
             [anchor]="anchorButton"
             on
             >
              <div class="content">
                <!-- User-defined content -->
                <div class="filter">
                    <button kendoButton imageUrl="assets/images/edit.svg">Chỉnh sửa</button>
                </div>
                <div class="filter">
                    <button kendoButton imageUrl="assets/images/new.svg">Thêm mới đơn vị</button>
                </div>
                <div class="filter">
                    <button kendoButton imageUrl="assets/images/new.svg">Thêm mới đơn vị con</button>
                </div>
              </div>
            </kendo-popup>
          </ng-template>
    </kendo-treelist-column>
</kendo-treelist>

<!-- //popup -->

<!-- drawer -->
<kendo-drawer-container>
    <kendo-drawer #drawer  class="w-drawer"
    [mode]="'overlay'"
    [(expanded)]="expanded"
    [position]="'end'"
    style="overflow-y: auto"
    >
    <ng-template kendoDrawerTemplate>
   
      <form class="k-form k-drawer-wrapper" >
        <div class="title">
         <span> <img src="assets/images/addgreen.svg" alt="location">THÔNG TIN ĐIỂM LÀM VIỆC</span>
        </div>
        
        <label class="k-form-field">
          <span>Tên điểm làm việc</span>
          <kendo-textbox  ></kendo-textbox>
        </label>
        <label class="k-form-field">
            <div class="col">
                <div class="col-half1">
                    <span>Mã điểm làm việc</span>
                    <kendo-textbox ></kendo-textbox>
                </div>
                <div class="col-half2">
                    <span>Tên viết tắt</span>
                    <kendo-textbox ></kendo-textbox>
                </div>
            </div>
           
        </label>
        <label class="k-form-field">
            <span>Trực thuộc</span>
            <kendo-dropdownlist [data]="VP" ></kendo-dropdownlist>
        </label>
        <label class="k-form-field">
            <span>Địa chỉ liên hệ</span>
            <kendo-textbox  ></kendo-textbox>
        </label>
        <label class="k-form-field">
            <span>Tỉnh thành</span>
            <kendo-dropdownlist [data]="TT" ></kendo-dropdownlist>
        </label>
        <label class="k-form-field">
            <span>Quận huyện</span>
            <kendo-dropdownlist [data]="QH" ></kendo-dropdownlist>
        </label>
        <label class="k-form-field">
            <span>Phường/xã</span>
            <kendo-dropdownlist [data]="PX"></kendo-dropdownlist>
        </label>
        <label class="k-form-field">  
            <span>Mô tả</span>
           <kendo-textarea [rows]="5" [cols]="5" resizable="none"></kendo-textarea>
         </label>
         <label class="k-form-field">  
            <span>Tình trạng</span>
            <kendo-dropdownlist [data]="Ttrang" ></kendo-dropdownlist>
         </label>
        <label class="k-form-field">
          <div class="btn-control">
            <button kendoButton class="btn-close">ĐÓNG</button>
            <button kendoButton class="btn-update">CẬP NHẬT</button>
          </div>
        </label>
      </form>
    </ng-template>
  </kendo-drawer>
 
  </kendo-drawer-container>
