::ng-deep{
    .datetimepicker{
        flex-direction: row-reverse;
        border: none;
        background-color: #F5F6F8;
        width: 235.77px;
        height: 30px;
        margin-bottom: 10px;
    }
  
    .k-datetime-buttongroup{
        display: none;
    }
    .k-datetime-selector{
        display: flex;
        flex-direction: column;
    }
    .k-datetime-wrap .k-calendar{
        height: 230px;
        border-bottom: 1px solid #DBDEE7;
    }
    .k-datetime-calendar-wrap{
        flex: 0;
    }
    .k-datetime-time-wrap{
        flex: 0 0 calc( 70px + 32px);
    }
    .k-time-tab .k-datetime-selector {
        transform: translateX(0);
    }
    .k-time-list-container{
        display: none;
    }
    kendo-virtualization{
        display: none;
    }
    .k-datetime-footer{
        display: none;
    }
    .k-time-now{
        display: none;
    }

    #datetimePickerPopup{
        .checkTime{
            text-align: left;
            input{
                border-radius: 50%;
                margin-right: 5px;
                &:checked + span{
                    background-color: #FFFFFF;
                    color: #5CB800;
                }
            }
        }
        .changeTime{
            margin-top: 20px;
            display: flex;
            .k-dropdown{
               margin-right: 50px;
               width: 102px;
               border: none;
               font-weight: 400;
               &:focus{
                box-shadow: none;
               }
               .k-i-caret-alt-down{
                &::before{
                    font-size: 20px;
                    content: "\e015";
                }
               }
               .k-input-inner{
                background-color: #FFFFFF;
               }
               .k-button{
                background-color: #FFFFFF;
               }

            }
            .btn-time{
                display: flex;
                button {
                  font-weight: 400;
                    background-color: #FFFFFF;
                    margin: 0 5px;
                    border: none;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    &:focus, &:hover {
                      background-color: #5CB800;
                      color: #FFFFFF;
                      box-shadow: none;
                      outline: none;
                    }
                }
            } 
        }
    }
        
}

   
   
    // .k-disabled{
    //     opacity: 1;
    //     cursor: pointer;
    //     filter: 0;
    //     pointer-events: 0;
       
    // }
    