::ng-deep{
	
	.info-coupon{
		margin-left: 30px;
	}
	

	.k-drawer-container{
		width: 200px;
		height: 100%;
		
		&.k-drawer-expanded{
			.k-drawer.k-drawer-start{
				flex-basis: 220px !important;
			}
			.k-drawer-wrapper{
				width: 200px !important;
			}
		}
		.k-drawer{
			background-color: #5A6276;
			color: #FFFFFF;
			//Start -> Nội dung trong drawer
			.k-drawer-wrapper {
				position: fixed;
			  .menu{
					border-bottom: 1px solid #FFFFFF;
					height: 50px;
					.btn-menu{
						margin-left: 10px;
						margin-top: 7px;
						border: none;
						background-color: #5A6276;
						color: #FFFFFF;
						
						&:focus{
							box-shadow: none;
						}
					}
				}
				ul{
						li{
							&:hover{
								background-color: #1A2334;
								color: #FFFFFF;
							}
						}
						li.k-selected{
							background-color: #1A2334;
						}
						li.k-level-0{
							
							height: 50px;
							&:hover{
								background-color: #1A2334;
								color: #FFFFFF;
							}
							.k-item-text{
								margin-top: 8px;
							}
						}
						li.k-level-1{
							
							background-color: #1A2334;
							.k-item-text{
								margin-top: 3px;
								margin-left: 25px;
								color: #959DB3;
								&:hover{
									color: #FFFFFF;
								}
							}
						}
				}
			}
			
		}
	}
	.wrapper {
		//  start -> ẩn hiện drawer product
		kendo-drawer-container {
		  .k-drawer.k-drawer-end {
			width: 400px;
			display: none; // ẩn drawer khi chưa click
			
		  }
			&.k-drawer-expanded{
				.k-drawer.k-drawer-end {
					display: block; // hiện drawer khi click
				}
			}
			.k-drawer{
				background-color: #FFFFFF;
				.k-drawer-wrapper{
					overflow-y: auto;
					.k-drawer-wrapper.k-form{
						width: 100% !important;
						.title{
							color: #1A6634;
							height: 30px;
							border-bottom: 1px solid #000000;
							margin-top: 10px;
							span{
								margin-left: 20px;
							}
						}
						.k-form-field{
							display: flex;
							flex-direction: column;
							margin: 10px;
							span{
								margin-bottom: 8px;
							}
							.gr-cbx {
								display: grid;
								grid-template-columns: repeat(2, 1fr);
								grid-column-gap: 20px;
								align-items: center;
							  }
							.btn-control{
								.btn-close{
									background-color: #FFFFFF;
									text-align: center;
									color: #1A6634;
									margin-right: 10px;
								}
								.btn-update{
									background-color: #1A6634;
									text-align: center;
									color: #FFFFFF;
								}
								span.k-button-text{
									margin-bottom: 0;
								}
								.k-button{
									border: none;
									width: 94px;
									height: 33.17px;
									box-shadow: 0 4px 8px 0 rgba(19, 104, 215, 0.4);;
								}
							}
						}
					}
				}
			}
		  
		}
		// end -> 
	  }
	
	
}



