  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
   
    
    <kendo-drawer-container>
      <kendo-drawer class="drawer1"
        #drawer1
        [items]="items"
        mode="push"
        [mini]="true"
        [width]="175"
        [(expanded)]="expanded1"
        [autoCollapse]="false"
        [isItemExpanded]="isItemExpanded"
        (select)="onSelect($event)"
      >
      <ng-template kendoDrawerHeaderTemplate>
        <div class="menu">
          <button class="btn-menu" kendoButton (click)="drawer1.toggle()" icon="menu">
          </button>
          <span *ngIf="expanded1" class="title-menu">LOGO</span>
        </div>
      </ng-template>
      </kendo-drawer>
      
    
      <kendo-drawer-content>
        <app-navbar></app-navbar>
        <app-nav-header></app-nav-header>
        <app-coupon-content></app-coupon-content>
        <app-grid-product (openDrawer)="toggleDrawer($event)"></app-grid-product>
      </kendo-drawer-content>


    </kendo-drawer-container>
     
    <!-- Start -> drawer2 product update -->
    <div class="wrapper" >
      <kendo-drawer-container >
        <kendo-drawer #drawer2 
        [mode]="'overlay'"
        [(expanded)]="expanded2"
        [position]="'end'"
        style="overflow-y: auto;"
        >
        <ng-template kendoDrawerTemplate>
       
          <form class="k-form k-drawer-wrapper">
            <div class="title">
             <span>CHỈNH SỬA SẢN PHẨM</span>
            
            </div>
           
            <label class="k-form-field">
              <span>Nhập mã sản phẩm</span>
              <kendo-textbox value="{{selectedProduct?.ObjectReturn?.Barcode}}"></kendo-textbox>
            </label>
            <label class="k-form-field">
              <span>Tên sản phẩm</span>
              <kendo-label>{{selectedProduct?.ObjectReturn?.ProductName}}</kendo-label>
            </label>
            <label class="k-form-field">
              <span>Giá gốc</span>
              <kendo-textbox value="{{selectedProduct?.ObjectReturn?.PriceBase}}" appMoneyFormat></kendo-textbox>
            </label>
            <label class="k-form-field">
              <span>Giá</span>
              <kendo-textbox value="{{selectedProduct?.ObjectReturn?.Price}}" appMoneyFormat></kendo-textbox>
            </label>
            <label class="k-form-field">
              <span>Giá VIP</span>
              <kendo-textbox value="{{selectedProduct?.ObjectReturn?.PriceVIP}}" appMoneyFormat></kendo-textbox>
            </label>
            <label class="k-form-field">
              <span>Discount</span>
              <kendo-textbox value="{{selectedProduct?.ObjectReturn?.Discount}}" appMoneyFormat></kendo-textbox>
            </label>
            <label class="k-form-field">
              <div class="gr-cbx">
                <div class="cbx">
                  <span>Is BestPrice</span>
                 <input type="checkbox" kendoCheckBox>
                </div>
                <div class="cbx">
                  <span>Có khuyến mãi</span>
                 <input type="checkbox" kendoCheckBox>
                </div>
                <div class="cbx">
                  <span>Is New</span>
                 <input type="checkbox" kendoCheckBox>
                </div>
                <div class="cbx">
                  <span>Is Hachi 24h</span>
                 <input type="checkbox" kendoCheckBox>
                </div>
                <div class="cbx">
                  <span>Là Special</span>
                 <input type="checkbox" kendoCheckBox>
                </div>
                <div class="cbx">
                  <span>Is Gift</span>
                 <input type="checkbox" kendoCheckBox>
                </div>
                <div class="cbx">
                  <span>Is Combo</span>
                 <input type="checkbox" kendoCheckBox>
                </div>
              </div>
            </label>
            <label class="k-form-field">
              <span>Orginal Name</span>
              <kendo-textbox value="{{selectedProduct?.ObjectReturn?.OrginalName}}"></kendo-textbox>
            </label>
            <label class="k-form-field">
              <span>Brand Name</span>
              <kendo-textbox value="{{selectedProduct?.ObjectReturn?.BrandName}}"></kendo-textbox>
            </label>
            <label class="k-form-field">  
              <kendo-label>{{"http://test.lapson.vn"+selectedProduct?.ObjectReturn?.Alias}}</kendo-label>
             </label>
            <label class="k-form-field">  
             <img src="http://test.lapson.vn/{{selectedProduct?.ObjectReturn?.ImageThumb}}" alt="ImageThumb" style="width: 70%;">
            </label>
            
            <label class="k-form-field">
              <div class="btn-control">
                <button kendoButton class="btn-close">ĐÓNG</button>
                <button kendoButton class="btn-update" (click)="updateProduct(selectedProduct?.ObjectReturn?.Code,selectedProduct?.ObjectReturn?.Price)">CẬP NHẬT</button>
              </div>
            </label>
          </form>
        </ng-template>
      </kendo-drawer>
      <!-- Start -> drawer2 product update -->
      </kendo-drawer-container>
    </div>
  </body>
  </html>