::ng-deep{
    .k-checkbox{
        border-color: #999999;
        &:checked{
            border-color: #5CB800;
            color: #FFFFFF;
            background-color: #5CB800;
        &:focus{
            box-shadow: none;
        }
        }
    }

    .k-radio{
        border-color: #999999;
        &:checked{
            border-color:  #1A6634;
            background-color: #FFFFFF;
            background-image: url("https://clipground.com/images/green-circle-clipart-6.png");
        &:focus{
            box-shadow: none;
        }
        }
    }
    input.k-radio.k-radio-md{
        &:checked{
            border-color:  #1A6634 !important;
        }
        &:focus{
            box-shadow: none !important;
        }
    }
    k-popup{
        .k-content{
            min-width: 270px;   
            border-bottom: 1px solid #DBDEE7;
            }
        }
        
    .search img.k-image{
        width: 15px;
        margin-left: 5px;
    }
    
}

    





/// UI thông tin coupon
.info-coupon{
    min-height: 45vh;
    .title{
        font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		margin: 15px 0;
        align-items: center;
        .tl-l{
            font-size: 16px;
        }
        .tl-n{
            position: relative;
            top: -2px;
            padding-left: 40px;
            color: #1A6634;
        }
        .gr-ts{
            color: #BBC0BB;
            padding: 10px 20px;
            float: right;
            .language{
                display: inline-block;
                border-right: 1px solid #BBC0BB;
                padding: 0 5px;
            &:last-child{
                border-right: none;
            }
            &:hover{
                cursor: pointer;
                color: #626662;
            }
            &.active{
                color: #626662;
            }
            }
        }
    }
    .coupon-content{
        padding: 15px;
        margin-top: 10px;
		background-color: #FFFFFF;
		height: 350px;
		border-radius: 2px;
		width: 1280px;
        display: flex;
        input,textarea {
            resize: none;
            display: block;
            padding: 7px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            }
            :focus{
                outline: 1px solid #DBDEE7;
            }
            label {
                display: block;
                margin-bottom: 10px;
                color: #959DB3;
            }    
        .col-1{
            padding: 0 10px;
            .lb-tt{
                span{
                    color: #1A6634;
                }
            }
            .row-full {
                input[type="text"] {
                    width: 255px;
                    font-weight: 400;
                  }
                input[type="checkbox"] {
                   outline: none;
                }
                .bar-cp{
                    display: inline-flex;
                    label{
                        padding-left: 5px;
                    }
                    input[type="checkbox"] {
                        border: 1px solid #1A6634;
                        &:checked{
                           border: none; 
                        }
                     }

                }
                .val-cp{
                    display: inline-flex;
                    .gr-per{
                        display: inline-flex;
                        margin-left: 100px;
                        input[type="checkbox"] {
                            border: 1px solid #1A6634;
                            &:checked{
                                border: none; 
                             }
                         }
                        label{
                            color: #1A6634;
                            padding-left: 5px;
                        }
                    }
                }
            }
            .row-half{
               float: left;
               .st-cp{
                width: 160px;
                font-weight: 400;
               }
               .sl-cp{
                margin-left: 15px;
                width: 80px;
                font-weight: 400;
               }
              
            }
        }
        .col-2{
            padding: 0 10px;
            .row-full{
               textarea{
                    width: 940px;
                    font-weight: 400;
                }
                input[type="text"] {
                    width: 940px;
                    font-weight: 400;
                  }
            }
        }
    }
    
}

/// UI cấu hình gửi thông báo
.coupon-apply{
    .title{
        margin-top: 15px;
        span{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        }
    }
    .apply-content{
        padding: 20px 30px;
        height: 270px;
        width: 1280px;
        background-color: #FFFFFF;
        display: flex;
        .col-app{
            margin-right: 150px;
            span{
                font-weight: 400;
            }
            .cbox{
                margin: 15px 0;
               align-items: center;
            }
            .sub-cbox{
                margin-left: 15px;
                .sub{
                    margin: 15px 0;
                }
            }
            input[type="checkbox"]{
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px; /* khoảng cách giữa checkbox và nội dung */
            }
            .item{
               padding: 2px 0;
                .ip1{
                    margin-left: 27px;
                }
                .ip2{
                    margin-left: 44px;
                }
                .ip3{
                    background-color: #DBDEE7;
                    margin-left: 55px;
                }
            }
            .radio{
                margin: 15px 0;
                .sub-radio{
                    margin-top: 10px;
                    margin-left: 25px;
                }
            }
           }
           label {
            display: block;
            margin-bottom: 10px;
            color: #959DB3;
            }
            input[type = "text"]{
                    width: 66px;
                    height: 24px;
                    padding: 7px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    margin-left: 10px;
                    text-align: right;
                    font-weight: 400;
                    &:focus{
                        outline: 1px solid #DBDEE7;
                    }       
            }
            input[type="radio"]{
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px; /* khoảng cách giữa checkbox và nội dung */
            }
    }
    .mode{
        color: #BBC0BB;
        padding: 10px 20px;
        float: right;
        
        .act{
            display: inline-block;
            border-right: 1px solid #BBC0BB;
            padding: 0 5px;
            &.active{
                color: #626662;
            }
            &:last-child{
                border-right: none;
            }
            &:hover{
                cursor: pointer;
                color: #626662;
            }
        }
    }
}


//UI Cấu hình gởi thông báo

.noti-config{
    min-height: 45vh;
    .title{
        span{
            font-size: 16px;
        }
    }
    .noti-content{
        background-color: #FFFFFF;
        width:  1280px;
        height: 447px;
        padding: 15px 25px;
        input,textarea{
            resize: none;
            display: block;
            padding: 7px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-weight: 400;
            }
            :focus{
                outline: 1px solid #DBDEE7;
            }
            label {
                display: block;
                margin-bottom: 10px;
                color: #959DB3;
            }
        input[type = "text"],textarea{
            width: 100%;
        }
        .cbox{
            display: flex;
            input[type="checkbox"]{
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        .object{
            display: flex;
            .radio{
                display: flex;
                margin-right: 170px;
                span{
                    font-weight: 400;
                }
                input[type="radio"]{
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 15px;
                    border-radius: 50%;
                }
            }
        }    

    }
}


.info-program{
    margin-top: 15px;
    .grid-item{
        height: 550px;
    }
}



