
<div class="info-coupon">
    <div class="title">
        <span class="tl-l">THÔNG TIN COUPON</span>
        <span class="tl-n">Coupon giảm giá đơn hàng</span>
        <div class="gr-ts">
            <span class="language" [class.active]="selectedLang === 'vi'" (click)="onLangSelect('vi')">Tiếng Việt</span>
            <span class="language" [class.active]="selectedLang === 'ja'" (click)="onLangSelect('ja')">日本語</span>
            <span class="language" [class.active]="selectedLang === 'en'" (click)="onLangSelect('en')">English</span>
        </div>
    </div>
    <div class="coupon-content">
        <div class="col-1">
            <div class="row-half">
                <label>Mã bắt đầu coupon</label>
                <input type="text" class="st-cp" value="KMGBL22">
            </div>
            <div class="row-half">
                <label style="padding-left: 15px;" >SL phát hành</label>
                <input type="text" class="sl-cp" value="10" style="text-align: right;" (keypress)="onInputKeypress($event)">
            </div>    
            <div class="row-full">
                <div class="bar-cp">
                    <input type="checkbox" kendoCheckBox>
                    <label>Mã coupon ngẫu nhiên gấp (x) lần</label>  
                </div>
                    <input type="text" value="1" (keypress)="onInputKeypress($event)">
            </div>
            <div class="row-full">
                <div class="val-cp">
                    <label>Giá trị coupon</label>
                    <div class="gr-per">
                        <input type="checkbox" kendoCheckBox> <label>tỷ lệ %</label> 
                    </div>   
                </div>
                <input type="text" value="100,000" appMoneyFormat>
            </div>
            <div class="row-half">
                <label>Thời gian hiệu lực</label>
                <div class="date-picker">
                        <kendo-datepicker #datepicker  class="k-datepicker"
                            calendarType="classic" 
                            [value]="date"
                            [format]="format"
                            [disabledDates]="disableDates"
                            >
                            <ng-template  kendoCalendarHeaderTitleTemplate let-currentDate>
                                <span>{{currentDate | vietnameseMonth}}</span> 
                            </ng-template>
                        </kendo-datepicker>
                </div>
                
                <div class="date-picker">
                    <kendo-datepicker  class="k-datepicker"
                          calendarType="classic" 
                          [value]="date"
                          [format]="format"
                          [disabledDates]="disableDates"
                          >
                          <ng-template #monthCellTemplate kendoCalendarHeaderTitleTemplate let-currentDate>
                            <div>{{ currentDate | date: 'MMMM, yyyy'| vietnameseMonth}}</div>
                          </ng-template>
                    </kendo-datepicker>
                </div>
            </div>
        <div class="lb-tt">
            <label>Tình trạng</label>
            <span>Đã phê duyệt áp dụng</span>
        </div>
           
    </div>

    <div class="col-2">
        <div class="row-full">
          <div *ngIf="selectedLang === 'vi'">
            <label>Tên coupon</label>
            <input type="text" [(ngModel)]="nameVI">
            <label>Mô tả điều kiện áp dụng</label>
            <input type="text" [(ngModel)]="descriptionVI" >
            <label>Diễn giải</label>
            <textarea cols="8" rows="8" [(ngModel)]="explanationVI"></textarea>
          </div>
      
          <div *ngIf="selectedLang === 'ja'">
            <label>Tên coupon</label>
            <input type="text" [(ngModel)]="nameJA">
            <label>Mô tả điều kiện áp dụng</label>
            <input type="text" [(ngModel)]="descriptionJA" >
            <label>Diễn giải</label>
            <textarea cols="8" rows="8" [(ngModel)]="explanationJA"></textarea>
          </div>
      
          <div *ngIf="selectedLang === 'en'">
            <label>Tên coupon</label>
            <input type="text" [(ngModel)]="nameEN">
            <label>Mô tả điều kiện áp dụng</label>
            <input type="text" [(ngModel)]="descriptionEN" >
            <label>Diễn giải</label>
            <textarea cols="8" rows="8" [(ngModel)]="explanationEN"></textarea>
          </div>
    </div>
    </div>
</div>




<div class="coupon-apply">
    <div class="title">
        <span>ĐIỀU KIỆN ÁP DỤNG</span>
    </div>
    <div class="apply-content">
       <div class="col-app">
            <label for="">Đơn vị áp dụng</label>
            <div class="cbox">
                <input type="checkbox" kendoCheckBox> <span>Website hachihachi.com.vn</span>
            </div>
            <div class="cbox">
            <input type="checkbox" kendoCheckBox  [(ngModel)]="allChecked" (change)="onAllCboxChanged()"> <span>Tất cả cửa hàng</span>
            </div>
            <div class="sub-cbox">
                <div class="sub"><input type="checkbox" kendoCheckBox [(ngModel)]="isChecked1" (change)="onSubCboxChanged()"><span>CH Hachi Hachi Pastuer</span></div>
                <div class="sub"><input type="checkbox" kendoCheckBox [(ngModel)]="isChecked2" (change)="onSubCboxChanged()"><span>CH Hachi Hachi NVT</span></div>
                <div class="sub"><input type="checkbox" kendoCheckBox [(ngModel)]="isChecked3" (change)="onSubCboxChanged()"><span>CH Hachi Hachi CMT8</span></div>
                <div class="sub"><input type="checkbox" kendoCheckBox [(ngModel)]="isChecked4" (change)="onSubCboxChanged()"><span>CH Hachi Hachi PMH</span></div>
            </div>
        </div>
        <div class="col-app">
            <label for="">Hạn mức sử dụng</label>
            <div class="item">
                <span>Số lượt sử dùng của coupon</span> <input class="ip1"  type="text" value="5,000" appMoneyFormat>
            </div>
            <div class="item">
                <span>Số lượt dùng tồi đa/1 giao dịch</span> <input  type="text" name="" value="1" (keypress)="onInputKeypress($event)">
            </div>
            <div class="item">
                <label>Giá trị đơn hàng được áp dụng coupon</label> 
            </div>
            <div class="item">
                <span>Giá trị đơn hàng tối thiểu</span> <input class="ip2" type="text" name="" value="0" appMoneyFormat>
            </div>
            <div class="item">
                <label>Giá trị chiết khấu tối đa của coupon</label>
            </div>
            <div class="item">
                <span>Giá trị chiết khấu tối đa</span> <input class="ip3" type="text" name="" value="100,000" appMoneyFormat>
            </div>
        </div> 
        <div class="col-app">
            <label for="">Phân loại coupon</label>
            <div class="radio">
                <input type="radio" kendoRadioButton [(ngModel)]="isPublic" value="true"><span>công khai</span>
            </div>
            <div class="radio">
                <input type="radio" kendoRadioButton [(ngModel)]="isPublic" value="false"><span>cá nhân</span>
                <div class="sub-radio">
                    <input type="checkbox" kendoCheckBox [(ngModel)]="isIdentified" [disabled]="isPublic"><span>đích danh</span>
                </div>
            </div>
            <div class="radio">
                <label>SL phát hành áp dụng</label>
            </div>
            <div class="radio">
                <input type="radio" name="option" kendoRadioButton> <span>số coupon cho từng cá nhân</span>
            </div>
            <div class="radio">
                <input type="radio" name="option" kendoRadioButton> <span>coupon dùng chung cho tất cả</span>
            </div>
        </div> 
    </div>
    <div class="mode">
        <span class="act">SMS</span>
        <span class="act">Mobile App</span>
        <span class="act">Giỏ hàng</span>
    </div>
</div>


<!-- Cấu hình gởi thông báo -->

<div class="noti-config">
    <div class="title">
        <span>CẤU HÌNH GỬI THÔNG BÁO</span>
    </div>
    <div class="noti-content">
        <div class="cbox">
            <input type="checkbox" kendoCheckBox> <label for="">Gởi thông báo trên app mobile với tiêu đề</label>
        </div>
        <input type="text" value="Hachi Hachi chúc mừng bạn nhận được Coupon mã [COUPONID]">
        <label for="">Nội dung thông báo</label>
        <textarea cols="30" rows="10" id="tarea"></textarea>
        <label for="">Thời điểm gởi thông báo trên App mobile</label>
       <kendo-datetimepicker class="datetimepicker"
        [format]="formatTime"
        [value]="date"
        calendarType="classic"
       >
          
            <ng-template #monthCellTemplate kendoCalendarHeaderTitleTemplate let-currentDate>
            <div>{{ currentDate | date: 'MMMM, yyyy'| vietnameseMonth}}</div>
             </ng-template>
       </kendo-datetimepicker>
        
      
        
        <label for="">Đối tượng gởi thông báo trên App mobile</label>
        <div class="object">
            <div class="radio">
                <input type="radio" name="option" kendoRadioButton> <span>Tất cả đối tượng nhận coupon tải app</span>
            </div>
            <div class="radio">
                <input type="radio" name="option" kendoRadioButton> <span>Tất cả KHTT tải app</span>
            </div>
            <div class="radio">
                <input type="radio" name="option" kendoRadioButton> <span>Tất cả khách hàng tải app</span>
            </div>
        </div>
    </div>
</div>



<div class="info-program">
    <div class="grid-item">
        <app-grid-product></app-grid-product>
    </div>
</div>

