<kendo-drawer-container>
  <kendo-drawer class="drawer1"
    #drawer1
    [items]="items"
    mode="push"
    [mini]="true"
    [width]="175"
    [(expanded)]="expanded1"
    [autoCollapse]="false"
    [isItemExpanded]="isItemExpanded"
    (select)="onSelect($event)"
    style="z-index: 1;"
  >
  <ng-template kendoDrawerHeaderTemplate>
    <div class="menu">
      <button class="btn-menu" kendoButton (click)="drawer1.toggle()" icon="menu">
      </button>
      <span *ngIf="expanded1" class="title-menu">LOGO</span>
    </div>
  </ng-template>
  </kendo-drawer>


  <kendo-drawer-content>
    <app-navbar></app-navbar>
    
    <!-- <app-worklocation-content></app-worklocation-content> -->
    <app-organi-content></app-organi-content>
    <!-- <app-nav-header></app-nav-header>
    <app-coupon-content></app-coupon-content>
    <app-grid-product></app-grid-product> -->
    <!-- <app-todo-angular></app-todo-angular> -->
  </kendo-drawer-content>
</kendo-drawer-container>








