<kendo-drawer-container>
  <kendo-drawer
    #drawer
    [items]="items"
    mode="push"
    [mini]="true"
    [width]="175"
    [(expanded)]="expanded"
    [autoCollapse]="false"
    [isItemExpanded]="isItemExpanded"
    (select)="onSelect($event)"
  >
    
  <ng-template kendoDrawerHeaderTemplate>
    <div class="menu">
      <button class="btn-menu" kendoButton (click)="drawer.toggle()" icon="menu">
      </button>
      <span *ngIf="expanded" class="title-menu">Home</span>
    </div>
  </ng-template>

  </kendo-drawer>
  <kendo-drawer-content>
    <app-navbar></app-navbar>
    <app-nav-header></app-nav-header>
    <app-coupon-content></app-coupon-content> 
  </kendo-drawer-content>
</kendo-drawer-container>
