
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="side-bar">
    <div class="brand-name">
      <h1></h1>
    </div>
    <div class="menu">
      <div class="item"><a href="#"><img src="./assets/images/Path 21.svg" alt="">KHUYẾN MÃI</a></div>
      <div class="item"><a href="#"><img src="./assets/images/Path 21.svg" alt="">NỘI DUNG</a></div>
      <div class="item"><a href="#"><img src="./assets/images/Path 21.svg" alt="">QUẢN LÝ BANNER</a></div>
      <div class="item">
        <a class="sub-btn"><img src="./assets/images/Path 21.svg" alt="">CHÍNH SÁCH</a>
        <div class="sub-menu">
          <a href="#" class="sub-item"><span class="active">Coupon</span></a>
          <a href="#" class="sub-item">xxxxxxxxxxxxxx</a>
          <a href="#" class="sub-item">xxxxxxxxxxxxxx</a>
          <a href="#" class="sub-item">xxxxxxxxxxxxxx</a>
          <a href="#" class="sub-item">xxxxxxxxxxxxxx</a>
          <a href="#" class="sub-item">xxxxxxxxxxxxxx</a>
        </div>
      </div>
      <div class="item"><a href="#"><img src="./assets/images/Path 21.svg" alt="">BÁO CÁO EXCEL</a></div>
    </div>
  </div>
