


    <div class="tool">
        <div class="cards">
            <div class="text">
                <span><span class="active">CHÍNH SÁCH</span> <span class="ngoac"> >  </span> PHIẾU MUA HÀNG <span class="ngoac"> > </span>   CHI TIẾT ĐỢT PHÁT HÀNH </span>
            </div>
            <div class="button-gr1">
                <button  (click)="handleButtonClick($event)" value="DANH SÁCH P MH" class="btn1"><i class="fa fa-tv"></i>DANH SÁCH P MH</button>
                <button  (click)="handleButtonClick($event)" value="Print" class="btn2"><i class="fa fa-print"></i></button>
                <button (click)="handleButtonClick($event)" value="ÁP DỤNG" class="btn3"><i class="fa fa-check"></i>ÁP DỤNG</button>
                <button (click)="handleButtonClick($event)" value="XÓA ĐỢT PHÁT HÀNH" class="btn4">XÓA ĐỢT PHÁT HÀNH</button>
                <button  (click)="handleButtonClick($event)" value="TẠO MỚI" class="btn5"> <i class="fa fa-plus"></i> TẠO MỚI <i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="button-gr2">   
                    <div class="btn-left">
                        <button  (click)="handleButtonClick($event)"  class="btn6" value="download"><i class="fa fa-download"></i></button>
                        <button  (click)="handleButtonClick($event)"  class="btn7" value="file"><i class="fa fa-file"></i></button> 
                    </div> 
                    <div class="btn-right">
                    <button  (click)="handleButtonClick($event)"   value="download-2"><i class="fa fa-chevron-down"></i></button>
                    
                    </div>
            </div>
        </div>
    </div>
