@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&family=Poppins&family=Roboto:wght@300;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body {
    min-height: 100vh;
    background-color: #EDEFF3;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}



